.subannerbx{
    width: 100%;
    margin-top: 800px;

}
.cardsbx{
    margin: auto;
    margin-left: 100px;
    margin-top: 50px;
}
.sbtitle{
    color: orangered;
}
.cards{
    height: 250px;
}
@media screen and (max-width: 600px){
    .subannerbx{
        width: 100%;
        margin-top: 670px;
    
    }
    .cardsbx{
        margin: auto;
        margin-left: 20px;
        margin-top: 30px;
    }
    .cards{
        margin-top: 30px;
        height: 250px;
        
    }
 
}